<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokeNotify.PokeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokeNotify.Configs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokeNotify.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <PokeNotify.PokeSettings>
            <setting name="Pokesnipe2Path" serializeAs="String">
                <value>D:\Duynd\desktop\Sniper\PokeSniper2.exe</value>
            </setting>
            <setting name="DefaultLatitude" serializeAs="String">
                <value>22.111</value>
            </setting>
            <setting name="DefaultLongitude" serializeAs="String">
                <value>105.111</value>
            </setting>
        </PokeNotify.PokeSettings>
        <PokeNotify.Configs>
            <setting name="Pokesnipe2Path" serializeAs="String">
                <value>D:\Duynd\desktop\Sniper\PokeSniper2.exe</value>
            </setting>
            <setting name="DefaultLatitude" serializeAs="String">
                <value>22.111</value>
            </setting>
            <setting name="DefaultLongitude" serializeAs="String">
                <value>105.111</value>
            </setting>
        </PokeNotify.Configs>
        <PokeNotify.Settings>
            <setting name="Pokesnipe2DefaultPath" serializeAs="String">
                <value>D:\Duynd\desktop\Sniper\PokeSniper2.exe</value>
            </setting>
            <setting name="DefaultLatitude" serializeAs="String">
                <value>22.111</value>
            </setting>
            <setting name="DefaultLongitude" serializeAs="String">
                <value>105.111</value>
            </setting>
        </PokeNotify.Settings>
    </userSettings>
</configuration>